.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .contentContainer {
    flex-direction: row;
    align-items: center;
  }
}

.card {
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #007BFF, #0056b3);
  border-image-slice: 1;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90%;
  max-width: 1500px;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
  }
}

.imageContainer {
  flex: 1;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .imageContainer {
    flex: 1.5;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .textContainer {
    text-align: left;
    margin-top: 0;
  }
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
  }
}

.favoriteButton {
  background: none;
  border: none;
  color: orange;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.link {
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
}

.link button {
  background-color: #007BFF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.link button:hover {
  background-color: #0056b3;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .buttonsContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
