.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  border: 3px solid;
  border-image-source: linear-gradient(45deg, #007BFF, #0056b3);
  border-image-slice: 1;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 70%;
  max-width: 1500px;
}

.imageContainer {
  flex: 1.5;
  /* Aumenta o tamanho do contêiner da imagem */
  height: auto;
  overflow: hidden;
  margin-right: 20px;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  /* Mantém o tamanho do contêiner de texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 0;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.favoriteButton {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
}

.link {
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
}

.link button {
  background-color: #007BFF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.link button:hover {
  background-color: #0056b3;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
