.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: auto;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.link button {
  background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.link button:hover {
  background-color: #0056b3;
  font-weight: bold;
}

.contentContainer {
  display: flex;
}

.imageContainer {
  flex: 1;
  margin-right: 20px;
}

.textContainer {
  flex: 1;
}

.favoriteButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
