.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.newsCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.favoriteButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.readNewsButton {
  background-color: #007BFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  width: 20%;
  color: white;
}

.readNewsButton:hover {
  background-color: #0056b3;
}

.showMoreButton {
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.showMoreButton:hover {
  background-color: #0056b3;
}
