.newsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .newsGrid {
    grid-template-columns: 1fr;
  }
}
