.searchBarContainer {
  position: relative;
  width: 30%;
  margin: 20px auto;
}

.searchBar {
  width: 100%;
  height: 40px;
  padding: 10px 40px 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.searchBar:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchBar::placeholder {
  color: #888;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  box-shadow: none;
}

@media (max-width: 1024px) {
  .searchBarContainer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .searchBarContainer {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .searchBarContainer {
    width: 90%;
  }
}
