.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.newsCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px;
}

.showMoreButton {
  margin-top: 20px;
}

.favoriteButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
}

.readNewsButton {
  background-color: #007BFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.readNewsButton:hover {
  background-color: #0056b3;
}
