.newsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.newsCard {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.showMoreButton {
  display: block;
  width: 200px;
  height: 40px;
  margin: 20px auto;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.showMoreButton:hover {
  background-color: #0056b3;
}

.favoriteButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #007BFF;
  font-size: 24px;
}

.readNewsButton {
  background-color: #007BFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
}

.readNewsButton:hover {
  background-color: #0056b3;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
