.menuNavegacao {
  display: flex;
  justify-content: start;
  padding: 20px;
  background-color: #f8f8f8;
}

.botaoMenu {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.botaoMenu:hover {
  color: #007BFF;
}
